
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Quote</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">
      Author: {{quote?.authorName}}<br>
      Published By:{{quote?.nameOfPublisher}}<br>
      Quote:{{quote?.description}}<br>
       {{quote?.publishDate|dateCount}} <br>
      
    </p>
  </div>
  
</div>
  <div>
    <h2>Number of likes:</h2>
   
    <button class= "btn btn-success"(click)="likeButtonClick()">Like</button>
    {{numberOfLikes}}
   
    <button class="btn btn-danger"(click)="dislikeButtonClick()">Dislike</button>
    {{numberOfDislikes}}
  </div>
  <button (click)= 'quoteComplete(true)' >Delete quote</button>
  