 <div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    

        <div class="form-group">
  
            <label for="name">Name of Author</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.authorName" name="Name" #name='ngModel' required>

        </div>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            name is required
        </div>
         <div class="form-group">
  
            <label for="name">Name of publisher</label>
            <input type="text" class="form-control" id="publisher" [(ngModel)]="newQuote.nameOfPublisher" name="Name" #name='ngModel' required>

        </div> 
       
        <div class="form-group">
  
            <label for="name">Genre</label>
            <input type="text" class="form-control" id="genre" [(ngModel)]="newQuote.genre" genre="Genre" #name='ngModel' required>

        </div> 
       
    
        <div class="form-group">
            <label for="quote">Quote</label>
            <textarea class="form-control" id="quote" rows="4"  [(ngModel)]="newQuote.description" quote="Quote" #name ="ngModel"  required></textarea>
        </div>
      
        <div class="form-group">
            <label for="complete">Published On:</label>
            <input type='date' id="complete" required>
           
           
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form> 

